<div class="container-fluid">
  <div class="row">
    <div id="logo" class="col-12 mt-5 mb-5 text-center">
      <img src="assets/logo.png" alt="">
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <div class="collapse navbar-collapse text-center">
      <ul id="menu" class="navbar-nav">
        <li routerLink="home">HOME</li>
        <li routerLink="cv">CV</li>
        <li routerLink="projects">PROJECTS</li>
        <li routerLink="blog">BLOG</li>
        <li routerLink="contact">CONTACT</li>
      </ul>
    </div>
  </div>
</nav>
<div id="flip" class="container-fluid animated zoomInDown">
  <div class="row">
    <div class="col-12">
      "When you're about to give up remember why you started"
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="title" class="col-12 text-center animated fadeInDown">
      <span class="ml-5 mr-5 text-uppercase">test</span>
    </div>
  </div>
</div>
